body {
   ;    margin: 0;
    border-radius: 8px;
    color: #002d5b;
    font-weight: bold;
}

/* RISPOSTE */
.answer-btn {
    width: 95%;
    margin: 8px auto;
    display: block;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.answer-correct {
    background: #b8efc1;
}

.answer-wrong {
    background: #ffcaca;
}

/* NAVBAR */
#nav-bar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
}

.nav-btn {
    height: 35px;
    border: 1px solid #ccc;
    background: white;
}

.correct-nav {
    background: #a5d6a7;
}

.wrong-nav {
    background: #ef9a9a;
}

.skipped-nav {
    background: #ffe082;
}

.current {
    border: 2px solid orange;
}

/* BOX SALTATE */
.skipped-box {
    background: #fff3cd;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.skipped-btn {
    padding: 6px;
    margin: 3px;
}

/* CONTATORI */
#counters-container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

/* MOBILE */
@media (max-width: 600px) {

    .header-inner {
        flex-direction: column;
        text-align: center;
    }

    .logo-img {
        height: 45px;
    }

    #navigation-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: white;
        display: flex;
    }

    .nav-main-btn {
        flex: 1;
        padding: 14px;
        background: #002d5b;
        color: white;
        border: none;
    }
}

    font-family: Arial;
    background: #f4f6f9;
}

/* HEADER */
.main-header {
    background: linear-gradient(135deg, #002d5b, #004a99);
    color: white;
    padding: 15px;
    border-bottom: 4px solid #b51f1f;
}

.header-inner {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    height: 55px;
}

.header-text h1 {
    margin: 0;
    font-size: 22px;
}

.subtitle {
    margin: 3px 0 0 0;
    font-size: 13px;
    opacity: 0.9;
}

/* MENU */
.menu {
    padding: 15px;
}

select, button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    border-radius: 10px;
}

/* START BUTTON */
#start-button {
    background: #002d5b;
    color: white;
    border: none;
}

/* QUIZ */
#question-container {
    background: #e7f0ff;
    border-left: 4px solid #004a99;
    padding: 12px;
