body {
    font-family: Arial;
    margin: 0;
    background: #f4f6f9;
}

/* HEADER */
.main-header {
    background: #003a70;
    color: white;
    text-align: center;
    padding: 18px;
}

.subtitle {
    opacity: 0.8;
}

/* MENU */
.menu {
    padding: 15px;
}

select, button {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    border-radius: 10px;
}

/* BOTTONI */
#start-button {
    background: #003a70;
    color: white;
    border: none;
}

/* DOMANDA */
#question-container {
    background: #e7f0ff;
    padding: 12px;
    border-left: 4px solid #003a70;
    margin: 10px;
    border-radius: 8px;
}

/* RISPOSTE */
.answer-btn {
    width: 95%;
    margin: 8px auto;
    display: block;
    padding: 12px;
    border-radius: 10px;
}

.answer-correct {
    background: #b8efc1;
}

.answer-wrong {
    background: #ffcaca;
}

/* NAVBAR */
#nav-bar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 4px;
}

.nav-btn {
    background: white;
    border: 1px solid #ccc;
    height: 35px;
}

.correct-nav {
    background: #a5d6a7;
}

.wrong-nav {
    background: #ef9a9a;
}

.skipped-nav {
    background: #ffe082;
}

.current {
    border: 2px solid orange;
}

/* BOX SALTATE */
.skipped-box {
    background: #fff3cd;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.skipped-btn {
    margin: 3px;
    padding: 8px;
    border-radius: 6px;
}

/* MOBILE */
@media (max-width: 600px) {

    #navigation-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        background: white;
        display: flex;
    }

    .nav-main-btn {
        flex: 1;
        padding: 14px;
        border: none;
        background: #003a70;
        color: white;
    }
}
